<div class="users_edit_page">
  <h1>Update User Profile</h1>

  <% if @errors %>

    <% @errors.each do |error| %>
      <p><%= error %></p>
    <% end %>

  <% end %>

  <%= form_tag("/users/#{@user.id}", method: :put, enctype: "multipart/form-data") do %>
    <div>Username: <input type="text" name="username" value="<%= @user.username %>"></div>

    <!-- <div>Avatar: <textarea name="avatar_url"><%= @user.avatar_url %></textarea></div> -->

    <div>Bio: <textarea name="bio"><%= @user.bio %></textarea></div>

    <div>Game List:
      <% @games.each do | game | %>
        <div>
        <% if @user.game_interests.find_by(game_id: game.id).nil? %>
          <input type="checkbox" name="game[<%= game.id %>]"><%= game.name %>
        <%  else %>
          <input type="checkbox" name="game[<%= game.id %>]" checked><%= game.name %>
        <%  end %>
      </div>
      <% end %>
    </div>

    <div>Category List:
      <% @categories.each do | category | %>
        <div>
        <% if @user.category_interests.find_by(category_id: category.id).nil? %>
          <input type="checkbox" name="category[<%= category.id %>]"><%= category.name %>
        <%  else %>
          <input type="checkbox" name="category[<%= category.id %>]" checked><%= category.name %>
        <%  end %>
      </div>
      <% end %>
    </div>

    <div>Avatar: <img src="<%= @user.avatar.url %>" alt=""></div>

    <div>Avatar CW Url: <input type="file" name="image"></div>

    <button class="button" type="submit">Update Profile</button>

  <% end %>

</div>
