<div class="users_new_page">
  <h2>Create New User</h2>

  <% if @errors %>

    <% @errors.each do |error| %>
      <p><%= error %></p>
    <% end %>

  <% end %>

  <%= form_tag '/users', method: 'post' do %>
    <div>Username: <input type="text" name="username"></div>

    <div>Email: <input type="text" name="email"></div>

    <div>Password: <input type="password" name="password"></div>

    <div>Avatar: <textarea name="avatar_url"></textarea></div>

    <div>Bio: <textarea name="bio"></textarea></div>

    <div>Game List:
      <% @games.each do | game | %>
      <div>
        <input type="checkbox" name="game[<%= game.id %>]"><%= game.name %>
      </div>
      <% end %>
    </div>

    <div>Category List:
      <% @categories.each do | category | %>
      <div>
        <input type="checkbox" name="category[<%= category.id %>]"><%= category.name %>
      </div>
      <% end %>
    </div>

    <button class="button" type="submit">Create New User</button>

  <% end %>

</div>
