<div class="users_new_page">
  <h2>Create New User</h2>

  <% if @errors %>

    <% @errors.each do |error| %>
      <p><%= error %></p>
    <% end %>

  <% end %>

  <%= form_tag '/users', method: 'post', enctype: "multipart/form-data" do %>
    <div>Username: <input type="text" name="username"></div>

    <div>Email: <input type="text" name="email"></div>

    <div>Password: <input type="password" name="password"></div>

    <!-- <div>Avatar: <textarea name="avatar_url"></textarea></div> -->

    <div>Bio: <textarea name="bio"></textarea></div>

    <div class="category_section">Game List:
      <% @games.each do | game | %>
      <div>
        <input type="checkbox" name="game[<%= game.id %>]"><%= game.name %>
      </div>
      <% end %>
    </div>

    <div class="category_section">Category List:
      <% @categories.each do | category | %>
      <div>
        <input type="checkbox" name="category[<%= category.id %>]"><%= category.name %>
      </div>
      <% end %>
    </div>

    <div class="avatar_upload">Avatar CW Url: <input type="file" name="image"></div>

    <button class="new_user" type="submit">Create New User</button>

  <% end %>

</div>
<!-- <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
<script>

</script> -->
