<div class="user_show_container">


  <div class="left">
    <img class="image" src="<%= @user.avatar.url %>" alt="">
  </div>


  <div class="right">
    <h1><%= @user.username %></h1>
    <p><span id="rep_box">Reputation: <%= @user.reputation %></span></p>
    <% if logged_in? %>
      <p><span id="vote_buttons"><span><button id="upvote">Upvote</button></span><span><button id="downvote">Downvote</button></span></span></p>
    <% end %>


    <p>Bio: <%= @user.bio %></p>

    <% if @user.game_interests[0] %>
      <div><p>Game List: </p>
        <% @user.game_interests.each do | game_interest | %>
        <div>
          <p><%= game_interest.game.name %></p>
        </div>
        <% end %>
      </div>
    <% end %>


    <% if @user.category_interests[0] %>
      <div><p>Category List: </p>
        <% @user.category_interests.each do | cat_interest | %>
        <div>
          <p><%= cat_interest.category.name %></p>
        </div>
        <% end %>
      </div>
    <% end %>


    <a href="/users/<%= @user.id %>/edit"><button>Edit</button></a>
    <a href="/users/delete/<%= @user.id %>"><button>Delete</button></a>
  </div>


</div>

<script>
  $authToken = $('meta[name=csrf-token]').attr('content');
  <% if logged_in? %>
  $('#vote_buttons').on('click', function(event){

    if (event.target.id === "upvote") {
      var options = {
        url: '/api/votes',
        method: 'post',
        data: {
          recipient_id: <%= @user.id %>,
          voter_id: <%= current_user.id %>,
          value: 1,
          authenticity_token: $authToken
        }
      }
    } else if (event.target.id === "downvote") {
      var options = {
        url: '/api/votes',
        method: 'post',
        data: {
          recipient_id: <%= @user.id %>,
          voter_id: <%= current_user.id %>,
          value: -1,
          authenticity_token: $authToken
        }
      }
    } else {
        return
      }


    var updateRep = function(resp) {
      if(resp.reputation) {
        $('#rep_box').text('Reputation: ' + resp.reputation)
      }
    }

    $.ajax(options).done(updateRep);
  });
  <% end %>



</script>
