<!-- user-show-container -->
<div class="user-show-container">
  <!-- left -->
  <div class="left">
    <img class="image" src="<%= @user.avatar.url %>" alt="">
  </div>
  <!-- end left -->

  <!-- right -->
  <div class="right">
    <h1><%= @user.username %></h1>
    <p><span id="rep-box">Reputation: <%= @user.reputation %></span></p>
    <% if logged_in? %>
      <p>
        <span id="vote-buttons"><span><button id="upvote" class="btn-floating btn-large waves-effect waves-light"><i class="material-icons">thumb_up</i></button></span><span><button id="downvote" class="btn-floating btn-large waves-effect waves-light"><i class="material-icons">thumb_down</i></button></span></span>
      </p>
    <% end %>

      <p>Bio: <%= @user.bio %></p>

    <% if @user.game_interests[0] %>
      <div><p>Game List: </p>
        <% @user.game_interests.each do | game_interest | %>
        <div>
          <p><%= game_interest.game.name %></p>
        </div>
        <% end %>
      </div>
    <% end %>

    <% if @user.category_interests[0] %>
      <div><p>Category List: </p>
        <% @user.category_interests.each do | cat_interest | %>
        <div>
          <p><%= cat_interest.category.name %></p>
        </div>
        <% end %>
      </div>
    <% end %>

    <a href="/users/<%= @user.id %>/edit"><button class="btn waves-effect waves-light">Edit</button></a>
    <a href="/users/delete/<%= @user.id %>"><button class="btn waves-effect waves-light">Delete</button></a>
  </div>
  <!-- end right -->
</div>
<!-- end user-show-container -->

<script>
  $authToken = $('meta[name=csrf-token]').attr('content');
  <% if logged_in? %>
  $('#vote-buttons').on('click', function(event){

    if (event.target.id === "upvote") {
      var options = {
        url: '/api/votes',
        method: 'post',
        data: {
          recipient_id: <%= @user.id %>,
          voter_id: <%= current_user.id %>,
          value: 1,
          authenticity_token: $authToken
        }
      }
    } else if (event.target.id === "downvote") {
      var options = {
        url: '/api/votes',
        method: 'post',
        data: {
          recipient_id: <%= @user.id %>,
          voter_id: <%= current_user.id %>,
          value: -1,
          authenticity_token: $authToken
        }
      }
    } else {
      return
    }

    var updateRep = function(resp) {
      if(resp.reputation) {
        $('#rep-box').text('Reputation: ' + resp.reputation)
      }
    }

    $.ajax(options).done(updateRep);
  });
  <% end %>
</script>
