<div class="user_show_container">
  <h1><%= @user.username %></h1>
  <span id="rep_box">Reputation: <%= @user.reputation %></span>
  <% if logged_in? %>
    <span><button id="upvote">Upvote</button></span><button id="downvote">Downvote</button></span>
  <% end %>
  <img src="<%= @user.avatar_url %>" alt="">
  <p><%= @user.bio %></p>

  <% if @user.game_interests[0] %>
    <div>Game List:
      <% @user.game_interests.each do | game_interest | %>
      <div>
        <%= game_interest.game.name %>
      </div>
      <% end %>
    </div>
  <% end %>


  <% if @user.category_interests[0] %>
    <div>Category List:
      <% @user.category_interests.each do | cat_interest | %>
      <div>
        <%= cat_interest.category.name %>
      </div>
      <% end %>
    </div>
  <% end %>

  <a href="/users/<%= @user.id %>/edit"><button>Edit</button></a>
  <a href="/users/delete/<%= @user.id %>"><button>Delete</button></a>
</div>

<script>
  $authToken = $('meta[name=csrf-token]').attr('content');
  $('#upvote').on('click', function(){

    var options = {
      url: '/api/votes',
      method: 'post',
      data: { 
        recipient_id: <%= @user.id %>,
        voter_id: <%= current_user.id %>,
        value: 1,
        authenticity_token: $authToken
      }
    }

    var updateRep = function(resp) {
      if(resp.reputation) {
        $('#rep_box').text('Reputation: ' + resp.reputation)
      }
    }

    $.ajax(options).done(updateRep);
  });



</script>
