<div class="events-edit">
  <% if @errors %>
    <% @errors.each do |error| %>
      <p class="errors"><%= error %></p>
    <% end %>
  <% end %>

  <%= form_tag "/events/#{@event.id}", method: :put do |f| %>
    <input type="hidden" id="lat" name="lat" value="<%= @event.lat %>">
    <input type="hidden" id="long" name="long" value="<%= @event.long %>">

    <div class="form-group-container">
      <div class="form-group-half">
        Title: <input type="text" name="title" value="<%= @event.title %>">
      </div>

      <div class="form-group-half">
        Location: <input type="text" id="search_places" name="location" value="<%= @event.location %>">
      </div>
    </div>

    <div class="form-group-container">
      <div class="form-group-half">
        Start At: <input type="datetime-local" name="start_at" value="<%= @event_start %>">
      </div>

      <div class="form-group-half">
        End At: <input type="datetime-local" name="end_at" value="<%= @event_end %>">
      </div>
    </div>

    <div class="form-group-container">
      <div class="form-group-half">
        <select name="game_id">
          <option name="game_id" value="<%= @event.game.id %>"><%= @event.game.name %></option>
          <% @games.each do |game| %>
          <option name="game_id" value="<%= game.id %>"><%= game.name %></option>
          <% end %>
        </select>
      </div>
    </div>

    <div class="form-group-container">
      <div class="form-group-half">
        <select name="category_id">
          <option name="category_id" value="<%= @event.category.id %>"><%= @event.category.name %></option>
          <% @categories.each do |category| %>
            <option name="category_id" value="<%= category.id %>"><%= category.name %></option>
          <% end %>
        </select>
      </div>
    </div>

    <div>About: <textarea name="about"><%= @event.about %></textarea></div>

    <button type="submit" class="btn waves-effect waves-light">Edit Event</button>
  <% end %>
</div>

<script type="text/javascript">
  function initAutocomplete() {
    var input = document.getElementById('search_places');
    var options = {
      types: ['address'],
      componentRestrictions: {country: "au"}
    };

    autocomplete = new google.maps.places.Autocomplete(input, options);

    autocomplete.addListener('place_changed', function() {
      var place = autocomplete.getPlace();
      var lat = place.geometry.location.lat();
      var long = place.geometry.location.lng();
      var latInput = document.getElementById('lat');
      var longInput = document.getElementById('long');

      latInput.value = lat;
      longInput.value = long;
    });
  };
</script>
<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDdo1rTdkTMEBeUMzE51jeLdW25j5K4y9c&libraries=places&callback=initAutocomplete">
</script>
