<div class="events_edit">
  <h1>Events#edit</h1>
  <p>Find me in app/views/events/edit.html.erb</p>

  <%= form_tag "/events/#{params[:id]}", method: :put do %>
  <div class="title form_group">
    <label for="title">Title</label>
    <input type="text" name="title" value="<%= @event.title %>">
  </div>

  <div class="location form_group">
    <label for="location">Location</label>
    <input type="text" name="location" value="<%= @event.location %>">
  </div>

  <div class="game_tags form_group">
    <input type="checkbox" name="<%= @event.game.name %>" checked>
    <label for="game-tags"><%= @event.game.name %></label>
  </div>

  <div class="category form_group">
    <label for="category">Category</label>
    <select>
      <option value="">Select a Category</option>
      <option value="<%= @event.category.id %>" selected><%= @event.category.name %></option>
    </select>
  </div>

  <div class="about form_group">
    <label for="about">About</label>
    <textarea name="about"><%= @event.about %></textarea>
  </div>

  <div class="edit_event form_group">
    <button type="submit">Edit Event</button>
  </div>
  <% end %>
</div>
