<div class="events_index">

  <div class="events_index_filters">
    <span>Filter by game:</span>
    <select name="" class="game_filter">
        <option value="0">all</option>
      <% @games.each do |game| %>
        <option value="<%= game.name %>"> <%= game.name %> </option>
      <% end %>
    </select>
    <% if logged_in? %>
      <a href="/events/new"><div>create event</div></a>
    <% end %>
  </div>

  <div class="events_index_event_list">
    <% @events.each do |event| %>
      <div data-value="<%= event.game.name %>" class="events_index_event">
        <a href="events/<%= event.id %>">
            <h3> <%= event.title %> </h3>
            <h4> <%= event.user.username %> </h4>
            <h4> <%= event.location %> </h4>
            <h4> <%= event.game.name %> </h4>
            <h4> <%= event.category.name %> </h4>
        </a>
      </div>       
    <% end %>    
  </div>

</div>
<script src="https://code.jquery.com/jquery-3.2.1.js"></script>
<script>
  $select = $('.game_filter');
  $eventsContainer = $('.events_index_event_list');
  $allEvents = $eventsContainer.children();

  $select.on('change', function() {
    $game = $select.val();
    $allEvents.removeClass('display_none');
    $allEvents.each(function() {
      if ($(this).data('value') != $game && $game != 'all') {
        $(this).addClass("display_none")
      }
    })
  });
</script>











