<h1>New Event</h1>

<%= form_tag '/events', method: 'post' do %>
  <label for="title">Title</label>
  <input type="text" name="title">

  <label for="location">Location</label>
  <input type="text" name="location">

  <div class="events_new game_tags">
    <% @games.each do |game| %>
      <input type="checkbox" name="<%= game.name %>">
      <label for="game-tags"><%= game.name %></label>
    <% end %>
  </div>

  <label for="category">Category</label>
  <select>
    <option value="" selected>Select a Category</option>
    <% @categories.each do |category| %>
      <option value="<%= category.id %>"><%= category.name %></option>
    <% end %>
  </select>

  <label for="about">About</label>
  <textarea name="about"></textarea>

  <button type="submit">Create Event</button>
<% end %>
