<style>
  #map {
    height: 100%;
  }
</style>

<div class="events-new">
  <% if @errors %>
    <% @errors.each do |error| %>
      <p class="errors"><%= error %></p>
    <% end %>
  <% end %>

  <%= form_tag '/events', method: 'post' do %>
    <input type="hidden" id="lat" name="lat">
    <input type="hidden" id="long" name="long">

    <div class="form-group-container">
      <div class="form-group-half">
        Title: <input type="text" name="title">
      </div>

      <div class="form-group-half">
        Location: <input type="text" id="search_places" name="location">
      </div>
    </div>

    <div class="form-group-container">
      <div class="form-group-half">
        Start At: <input type="datetime-local" name="start_at">
      </div>

      <div class="form-group-half">
        End At: <input type="datetime-local" name="end_at">
      </div>
    </div>

    <div class="form-group-half">
      <select name="game_id">
        <% @games.each do |game| %>
          <option value="<%= game.id %>"><%= game.name %></option>
        <% end %>
      </select>
    </div>

    <div class="form-group-half">
      <select name="category_id">
        <% @categories.each do |category| %>
          <option value="<%= category.id %>"><%= category.name %></option>
        <% end %>
      </select>
    </div>

    <div>About: <textarea name="about"></textarea></div>

    <button type="submit" class="btn waves-effect waves-light">Create Event</button>
  <% end %>
</div>

<script type="text/javascript">
  function initAutocomplete() {
    var input = document.getElementById('search_places');
    var options = {
      types: ['address'],
      componentRestrictions: {country: "au"}
    };

    autocomplete = new google.maps.places.Autocomplete(input, options);

    autocomplete.addListener('place_changed', function() {
      var place = autocomplete.getPlace();
      var lat = place.geometry.location.lat();
      var long = place.geometry.location.lng();
      var latInput = document.getElementById('lat');
      var longInput = document.getElementById('long');

      latInput.value = lat;
      longInput.value = long;
    });
  };
</script>
<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDdo1rTdkTMEBeUMzE51jeLdW25j5K4y9c&libraries=places&callback=initAutocomplete">
</script>
