<h1>Events#show</h1>
<p>Find me in app/views/events/show.html.erb</p>
<div class="events_show">

  <div class="events_show_top">
    <div class="events_show_map">hi</div>
    <div class="events_show_info">
      <div class="events_show_info_key">
        <h1>Event:</h1>
        <h2>Game:</h2>
        <h2>Created by:</h2>
        <h2>Category:</h2>
      </div>
      <div class="events_show_info_value">
        <h1> <%= @event.title %> </h1>
        <h2> <%= @event.game.name %> </h2>
        <h2> <%= @event.user.username %> </h2>
        <h2> <%= @event.category.name %> </h2>
      </div>
    </div>
  </div>

  <div class="events_show_middle">
    <div class="events_show_attending_btn">Attending</div>
    <ul>
      <% @event.attendees.each do |attendee| %>
        <li> <%= attendee.user.username %> </li>
      <% end %>
    </ul>
  </div>

  <div class="events_show_about">
    <h3>About the event:</h3>
    <p> <%= @event.about %> </p>
  </div>

</div>

