<div class="events-show">

  <div class="events-show-top">
    <div class="map-container">
      <div id="map"></div>
    </div>
    <div class="events-show-info">
      <div class="events-show-info-key">
        <h1>Event:</h1>
        <h4>Start Date:</h4>
        <h4>Start Time:</h4>
        <h4>End Date:</h4>
        <h4>End Time:</h4>
        <h4>Game:</h4>
        <h4>Created by:</h4>
        <h4>Category:</h4>
        <h4>Address:</h4>
      </div>
      <div class="events-show-info-value">
        <input id="event-id" type="hidden" value="<%= @event.id %>">
        <h1> <%= @event.title %> </h1>
        <h4> <%= @event.start_at.strftime("%m/%d/%Y") %> </h4>
        <h4> <%= @event.start_at.strftime("%I:%M%p") %> </h4>
        <h4> <%= @event.end_at.strftime("%m/%d/%Y") %> </h4>
        <h4> <%= @event.end_at.strftime("%I:%M%p") %> </h4>
        <h4> <%= @event.game.name %> </h4>
        <h4> <%= @event.user.username %> </h4>
        <h4> <%= @event.category.name %> </h4>
        <h4> <%= @event.location %> </h4>
      </div>
    </div>
  </div>

  <div class="events-show-middle">
    <% if logged_in? %>
    <button class="events-show-attending events-show-attending-click btn waves-effect waves-light">Join event</button>
    <% else %>
      <button class="events-show-attending btn waves-effect waves-light" href="/sessions/new">Login to join!</button>
    <% end %>
    <% if logged_in? %>
      <% if @event.user.id == current_user.id %>
        <a href="/events/delete/<%= @event.id %>">delete</a>
        <a href="/events/<%= @event.id %>/edit">edit</a>
      <% end %>
    <% end %>
    <button class="events-show-attendee btn waves-effect waves-light"> See who's going</button>
  </div>

  <div class="events-show-about">
    <h3>About the event:</h3>
    <p> <%= @event.about %> </p>
  </div>

</div>
<div class="events-show-attendees display-none">
  <ul class="events-show-attendee-list">
    <% @event.attendees.each do |attendee| %>
    <li class="events-show-attendee">
      <a href="/users/<%= attendee.user.id %>"><%= attendee.user.username %></a>
    </li>
    <% end %>
  </ul>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.js"></script>
<script>
  $joinEventBtn = $('.events-show-attending-click')
  $goToLogin = $('.events-show-attending')
  $seeAttendeesBtn = $('.events-show-attendee')
  $attendeesDivList = $('.events-show-attendees')
  $attendeesUList = $('.events-show-attendee-list')
  $authToken = $('meta[name=csrf-token]').attr('content');



  $seeAttendeesBtn.on('click', function() {
    $attendeesDivList.toggle('display-none')
  })
  <% if logged_in? %>
    $joinEventBtn.on('click', function(){
      var attending = false
      <% @event.attendees.each do |attendee| %>
        <% if attendee.user.username == current_user.username %>
          attending = true
        <% end %>
      <% end %>
      console.log('check')
      if (attending == false) {
        var options = {
          url: '/api/attendees',
          method: 'post',
          data: {user_id: <%= current_user.id %>, event_id: <%= @event.id %>, authenticity_token: $authToken }
        };
        $.ajax(options).done(function(response) {
          console.log(response)
          var $li = $('<li>', {"class": "events-show-attendee"})
          var $a = $('<a>').attr("href", "/users/" + response.user_id )

          $li.text(response.username)
          $a.append($li)
          $attendeesUList.append($a)
        })
      }
    })
    <% end %>
</script>
<script
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDdo1rTdkTMEBeUMzE51jeLdW25j5K4y9c">
</script>
<script>
  $eventId = parseInt($('#event-id').val())

    var options = {
      url: "/api/events",
      method: 'get',
      data: {
        id: $eventId
      }
    };

  var initMap = function(event) {


    var center = {lat: event.lat, lng: event.long};
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 14,
      center: center
    });
    var marker = new google.maps.Marker({
      position: center,
      map: map,
      icon: {
          scaledSize: new google.maps.Size(40, 40),
          url: event.game.logo.url
        }
    });
  }
  $.ajax( options ).done( initMap );
    </script>
