<div class="events_show">

  <div class="events_show_top">
    <div class="events_show_map">map goes here</div>
    <div class="events_show_info">
      <div class="events_show_info_key">
        <h1>Event:</h1>
        <h2>Game:</h2>
        <h2>Created by:</h2>
        <h2>Category:</h2>
        <h2>Address:</h2>
      </div>
      <div class="events_show_info_value">
        <h1> <%= @event.title %> </h1>
        <h2> <%= @event.game.name %> </h2>
        <h2> <%= @event.user.username %> </h2>
        <h2> <%= @event.category.name %> </h2>
        <h2> <%= @event.location %> </h2>
      </div>
    </div>
  </div>

  <div class="events_show_middle">
    <% if logged_in? %>
    <div class="events_show_attending_btn events_show_attending_click">Join event</div>
    <% else %>
      <a class="events_show_attending_btn" href="/sessions/new"><div>Login to join!</div></a>
    <% end %>
    <% if logged_in? %>
      <% if @event.user.id == current_user.id %>
        <a href="/events/delete/<%= @event.id %>">delete</a>
        <a href="/events/<%= @event.id %>/edit">edit</a>
      <% end %>
    <% end %>
    <div class="events_show_attendee_btn"> See who's going</div>
  </div>

  <div class="events_show_about">
    <h3>About the event:</h3>
    <p> <%= @event.about %> </p>
  </div>

</div>
<div class="events_show_attendees display_none">
  <ul class="events_show_attendee_list">
    <% @event.attendees.each do |attendee| %>
    <li class="events_show_attendee">
      <%= attendee.user.username %>
    </li>
    <% end %>
  </ul>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.js"></script>
<script>
  $joinEventBtn = $('.events_show_attending_click')
  $goToLogin = $('.events_show_attending_btn')
  $seeAttendeesBtn = $('.events_show_attendee_btn')
  $attendeesDivList = $('.events_show_attendees')
  $attendeesUList = $('.events_show_attendee_list')
  $authToken = $('meta[name=csrf-token]').attr('content');



  $seeAttendeesBtn.on('click', function() {
    $attendeesDivList.toggle('display_none')
  })
  <% if logged_in? %>
    $joinEventBtn.on('click', function(){
      console.log('check')
      var options = {
        url: '/api/attendees',
        method: 'post',
        data: {user_id: <%= current_user.id %>, event_id: <%= @event.id %>, authenticity_token: $authToken }
      };
      $.ajax(options).done(function(response) {
        console.log(response)
        var $li = $('<li>', {"class": "events_show_attendee"})
        $li.text(response.username)
        $attendeesUList.append($li)
      })
      
    })
    <% end %>
</script>



