<!DOCTYPE html>
<html>
  <head>
    <title>1337m337</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  </head>

  <body>
    <header>
      <div class="main_menu_container">
        <div class="logo_container">
          <h1>1337M337</h1>
        </div>
        <nav id="nav">
          <div class="menu_left">
            <a href="/" class="menu_links">Home</a>
            <a href="/events" class="menu_links">Events</a>
            <a href="/users" class="menu_links">Users</a>
          </div>

          <div class="menu_right">
            <% if logged_in?  %>
              <p>Logged in as <a href="/users/<%= current_user.id %>" class="user_profile"><%= current_user.username %></a></p>
              <%= form_tag("/sessions/#{current_user.id}", method: :delete) do %>
                <input type="hidden" name="_method" value="delete">
                <button>Log Out</button>
              <% end %>
            <% else %>
              <a href="/sessions/new">Log In</a>
            <% end %>
          </div>

        </nav>
      </div>
    </header>

    <div class="main">
      <%= yield %>
    </div>

    <footer>
      <p>&copy; 1337m337 2017</p>
    </footer>
  </body>
</html>
